body, html {
    color: rgb(0, 0, 0);
    color: rgba(0, 0, 0, 0.8);
    font-family: "Tenor Sans", sans-serif;
    font-size: 20px;
    font-weight: normal;
    width: calc(100vw - (100vw - 100%));
    word-wrap: break-word;
}

.page__header {
    background-color: #fff;
    z-index: 1;
}

@media screen and (min-width: 1200px) and (max-width: 1800px) {
    .page__header {
        padding: 2.5% 4.5% 1.5%;
    }
    
    .page__footer {
        padding: 1.5% 6.5% 1% 36.25%;
    }
}

@media screen and (min-width: 1800px) {
    .page__header {
        padding: 2.5% 4.5% 1.5%;
    }
    
    .page__footer {
        padding: 1.5% 6.5% 1% 36.25%;
    }
}

.menu {
    height: auto;
    overflow: hidden;
}

.menu--hidden {
    height: 75px;
}

.menu__list {
    align-items: stretch;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

.menu__link {
    border-bottom: 1px solid rgb(234, 168, 147);
    border-bottom: 1px solid rgba(237, 57, 0, 0.25);
    color: rgb(237, 57, 0);
    display: block;
    font-family: "Philosopher", sans-serif;
    font-size: 0.8rem;
    letter-spacing: 0.1em;
    padding: 1.25em 1em 1em;
    text-align: left;
    text-transform: uppercase;
}

.menu__link:active, 
.menu__link:focus, 
.menu__link:hover {
    text-shadow: 1px 1px rgb(234, 168, 147);
    text-shadow: 1px 1px rgba(237, 57, 0, 0.35);
} 

.menu__item--active .menu__link {
    font-weight: 700;
    text-shadow: 1px 1px rgb(234, 168, 147);
    text-shadow: 1px 1px rgba(237, 57, 0, 0.35);
}

@media screen and (min-width: 1200px) {
    .menu--hidden {
        height: auto;
    }

    .menu__list {
        align-items: center;
        flex-direction: row;
        justify-content: flex-start;
    }

    .menu__link {
        border-bottom: none;
        font-size: 1vw;
        padding: 0.5em 1.7em;
        text-align: center;
        white-space: pre;
    }
}

.logo {
    order: -1;
    text-align: center;
}

.logo__text {
    border-bottom: none;
    font-family: 'Prata', serif;
    font-size: 1.25rem;
    padding: 0.7em 0 0.5em;
    text-align: center;
}


.logo--small .logo__text {
    font-size: 1rem;
}

@media screen and (min-width: 1200px) {
    .logo {
        margin: 0 1em;
        order: 0;
    }

    .logo__text {
        font-size: 2.15vw;
        padding: 0;
        text-align: center;
    }
    
    .logo--small .logo__text {
        font-size: 1.75vw;
    }
}

.hero {
    background-color: rgb(39, 66, 128);
    padding: 10% 10%;
}

.hero__title {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    margin: 0.5em auto;
    text-align: center;
}

.hero__copy {
    color: rgb(255, 255, 255);
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Philosopher', sans-serif;
    font-size: 0.667rem;
    margin: 0.5em auto;
    text-align: center;
}

@media screen and (min-width: 350px) and (max-width: 600px) {
    .hero__title {
        font-size: 1.75rem;
    }
}

@media screen and (min-width: 600px) and (max-width: 900px) {
    .hero__title {
        font-size: 2.33rem;
    }
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
    .hero__title {
        font-size: 2.33rem;
    }
}

@media screen and (min-width: 1200px) {
    .hero {
        align-items: center;
        display: flex;
        flex-flow: column nowrap;
        height: calc(100vh - 6.73vw);
        justify-content: center;
        padding: 0;
    }
    
    .hero__title {
        font-size: 10vh;
        max-width: 60%;

    }

    .hero__copy {
        font-size: 2vh;
        margin: 0.35em auto;
        max-width: 45%;
    }
}

.wrapper {
    padding: 40px 35px 0;
}

.wrapper:last-child {
    padding-bottom: 20px;
}

.wrapper--reset-sides {
    padding-left: 0;
    padding-right: 0;
}

@media screen and (min-width: 600px) and (max-width: 900px) {
    .wrapper {
        padding: 40px 50px 0;
    }

    .wrapper:last-child {
        padding-bottom: 30px;
    }

    .wrapper--reset-sides {
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
    .wrapper {
        padding: 5% 7.22% 0;
    }

    .wrapper:last-child {
        padding-bottom: 3.89%
    }

    .wrapper--reset-sides {
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1800px) {
    .wrapper {
        padding: 5% 8.33% 0;
    }

    .wrapper:last-child {
        padding-bottom: 5%;
    }

    .wrapper--reset-sides {
        padding-left: 0;
        padding-right: 0;
    }

}

@media screen and (min-width: 1800px)  {
    .wrapper {
        padding: 5% 13.54% 0;
    }

    .wrapper:last-child {
        padding-bottom: 5%;
    }

    .wrapper--reset-sides {
        padding-left: 0;
        padding-right: 0;
    }
}

.content__title {
    color: rgb(237, 57, 0);
    font-family: "Prata", serif;
    font-size: 1.15rem;
    margin-bottom: 1em;
    text-align: center;
    text-transform: uppercase;
}

@media screen and (min-width: 350px) and (max-width: 600px) {
    .content__title {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 600px) and (max-width: 900px) {
    .content__title {
        font-size: 1.75rem;
    }
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
    .content__title {
        font-size: 2rem;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1800px) {
    .content__title {
        font-size: 2.25rem;
    }
}

@media screen and (min-width: 1800px)  {
    .content__title {
        font-size: 2.5rem;
    }
}

.content__text {
    font-size: 0.75rem;
    margin-bottom: 0.35em;
    text-align: left;
}

.content__text--strong {
    color: rgb(237, 57, 0);
    text-shadow: 1px 1px rgb(234, 168, 147);
    text-shadow: 1px 1px rgba(237, 57, 0, 0.35);
}

.content__subtitle {
    color: rgb(39, 66, 128);
    font-family: "Philosopher", sans-serif;
    font-size: 0.85em;
    font-weight: 700;
    margin: 0 auto 1em;
    text-transform: uppercase;
}

@media screen and (min-width: 600px) {
    .content__text--center-desktop {
        text-align: center;
    }
}

@media screen and (min-width: 600px) and (max-width: 1200px)  {
    .content__subtitle {
        font-size: 1rem;
    }
}

@media screen and (min-width: 1200px)  {
    .content__text {
        font-size: 1rem;
    }

    .content__subtitle {
        font-size: 1.25rem;
    }
}

.table-skills {
    align-items: stretch;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    
}

.table-skills__item  {
    margin-top: 8.33%;
}

.table-skills__title {
    margin-bottom: 1em;
    text-align: left;
}

.table-skills__text {
    margin-bottom: 0.75em;
    text-align: left;
}

@media screen and (min-width: 600px) {
    .table-skills__title {
        text-align: center;
    }

    .table-skills__text {
        text-align: center;
    }
}

@media screen and (min-width: 600px) and (max-width: 1500px) {
    .table-skills {
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .table-skills__item {
        flex-basis: 50%;
        padding-left: 2em;
        padding-right: 2em;
    }

    .table-skills__text {
        margin-bottom: 0.75em;
    }
}

@media screen and (min-width: 1500px) {
    .table-skills {
        flex-flow: row nowrap;
        margin: 5% auto;
    }

    .table-skills__item {
        flex-basis: 25%;
        margin-top: 0;
        padding-left: 2em;
        padding-right: 2em;
    }
}

.list-features__item {
    margin-bottom: 50px;
    position: relative;
}

.list-features__title {
    margin: 0 auto 1em;
    text-align: left;
}

.list-features__text {
    margin: 0 auto 0.75em;
    text-align: left;
}

@media screen and (min-width: 1200px) and (max-width: 1800px) {
    .list-features__item {
        margin-bottom: 5%;
        margin-left: 100px;
    }

    .list-features__item::before {
        content: url("../img/list-item.png");
        position: absolute;
        top: 0; left: -80px;
    }
}

@media screen and (min-width: 1800px)  {
    .list-features__item {
        margin-bottom: 5%;
        margin-left: 120px;
    }

    .list-features__item::before {
        content: url("../img/list-item.png");
        position: absolute;
        top: 0; left: -100px;
    }
}

.two-up__aside {
    background-color: rgb(1, 33, 105);
    height: 66.66vw;
    margin-bottom: 50px;
    overflow: hidden;
    position: relative;
}

.two-up__image {
    margin-bottom: -25%;
    position: absolute;
    right: 50%; bottom: 0;
    transform: translateX(50%);
    width: 75%;
}

.two-up__body {
    padding: 0 50px 50px;
}

.two-up__body:last-child {
    padding-bottom: 0;
}

@media screen and (min-width: 600px) and (max-width: 900px) {
    .two-up__aside {
        height: 50vw;
    }
    
    .two-up__image {
        margin-bottom: -35%;
        width: 66.66%;
    }
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
    .two-up__aside {
        height: 50vw;
    }

    .two-up__image {
        margin-bottom: -16.66%;
        width: 44.44%;
    }
}

@media screen and (min-width: 1200px) {
    .two-up {
        align-items: stretch;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
}

    .two-up__aside {
        flex-basis: 50%;
        height: 38.89vw;
        position: relative;
    }

    .two-up__image {
        margin-bottom: -7.55%;
        position: absolute;
        transform: translateX(65%);
        width: 55.66%;
    }

    .two-up__body {
        flex-basis: 50%;
        padding: 0;
    }

    .two-up__body:last-child {
        margin-left: 65px;
        padding-right: 13.54%;
    }

    .two-up__body:first-child {
        margin-right: 65px;
        padding-left: 13.54%;
    }
}

.two-up__text {
    text-align: left;
}


@media screen and (min-width: 1200px) and (max-width: 1500px) {
    .two-up__text {
        font-size: 1rem;
    }
}

@media screen and (min-width: 1500px) {
    .two-up__text {
        font-size: 1.5rem;
        font-weight: 400;
    }
}

.grid-cards {
    align-items: stretch;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.grid-cards__item {
    overflow: hidden;
}

@media screen and (min-width: 900px) {
    .grid-cards {
        flex-flow: row wrap;
    }

    .grid-cards__item {
        flex-basis: 30%;
        flex-grow: 1;
        flex-shrink: 1;
        height: 50vh;
    }
}

@supports (display: grid) {
    .grid-cards {
        display: grid;
    }

    @media screen and (min-width: 900px) {
        .grid-cards {
            grid-template-columns: 1fr 1fr;
        }
    }
}

.card-feature {
    background-color: rgb(250, 205, 191);
    background-color: rgba(237, 57, 0, 0.15);
    box-sizing: border-box;
    padding: 1em; 
}

.card-feature__text {
    font-family: "Philosopher", sans-serif;
    text-align: left;
}

@media screen and (min-width: 900px) {
    .card-feature {
        overflow: hidden;
        padding: 5.26% 2.1% 2.1%;
        word-break: keep-all;
        
    }

    .card-feature:hover,
    .card-feature:active {
        background-color: rgb(252, 225, 217);
        background-color: rgba(237, 57, 0, 0.25);
        padding-left: 5.26%;
        padding-right: 5.26%;
        transition: background 0.5s ease;
    }

    .card-feature:hover .card-feature__title,
    .card-feature:active .card-feature__title {
        display: none;
    }

    .card-feature:hover .card-feature__text,
    .card-feature:active .card-feature__text {
        display: block;
    }

    .card-feature__title {
        font-size: 3.75vw;
        font-weight: 400;
        height: calc(12.35vw + 1.3rem);
        overflow: hidden;
        text-align: center;
    }

    .card-feature__pre-title {
        color: rgb(0, 0, 0);
        color: rgba(0, 0, 0, 0.5);
        display: block;
        font-size: 0.35em;
        height: 1.3em;
        margin-bottom: 0.5em;
        text-align: center;

    }

    .card-feature__text {
        display: none;
        font-size: 1vw;
    }
}

.contacts-block {
    background-color: rgb(250, 205, 191);
    background-color: rgba(237, 57, 0, 0.15);
    min-height: calc(100vh - 75px);
}

.contacts-block__title {
    margin-top: 1.5em;
    text-align: left;
}

.contacts-block__title:first-child {
    margin-top: 0;
}

@media screen and (min-width: 1200px) and (max-width: 1800px) {
    .contacts-block {
        min-height: calc(100vh - 6.83vw);
    }
}

@media screen and (min-width: 1800px) {
    .contacts-block {
        min-height: calc(100vh - 6.83vw);
    }
}

.form-message__label {
    display: block;
    font-family: "Tenor Sans", sans-serif;
    font-size: 0.75rem;
    margin: 0.75em 0;
}

.form-message__field {
    background-color: rgb(127, 129, 161);
    background-color: rgba(1, 33, 105, 0.25);
    border: 1px solid rgb(1, 33, 105);
    border-radius: 3px;
    display: block;
    font-family: "Tenor Sans", sans-serif;
    font-size: 0.75rem;
    padding: 0.5em;
    width: 100%;
}

.form-message__button {
    background-color: rgb(1, 33, 105);
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    display: block;
    font-family: "Tenor Sans", sans-serif;
    font-size: 0.75rem;
    letter-spacing: 0.2em;
    margin: 1.25em 0 1.25em auto;
    padding: 0.75em 3em;
}

@media screen and (min-width: 1200px) {
    .form-message__label {
        font-size: 1rem;
    }

    .form-message__field {
        font-size: 1rem;
    }

    .form-message__button {
        font-size: 1rem;
    }
}

.photo-teacher {
    background-image: url("../img/teacher-hero_600.jpg");
    background-position: center center;
    background-size: 100%;
    height: 25vw;
    overflow: hidden;
    width: 100%;
}

.photo-teacher__caption {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.25);
    color: rgb(255, 255, 255);
    font-family: 'Philosopher', sans-serif;
    padding: 0.5em 1em;
}

@media screen and (min-width: 600px) and (max-width: 900px) {
    .photo-teacher {
        background-image: url("../img/teacher-hero_900.jpg");
    }
    
    .photo-teacher__caption {
        font-size: 1.75rem;
    }
}

@media screen and (min-width: 1200px) {
    .photo-teacher {
        background-image: url("../img/teacher-hero.jpg");
    }
    
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
    .photo-teacher__caption {
        font-size: 2rem;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1800px) {
    .photo-teacher__caption {
        font-size: 3rem;
    }
}

@media screen and (min-width: 1800px) {
    .photo-teacher__caption {
        font-size: 4rem;
    }
}

.title-block {
    background-color: rgb(252, 225, 217);
    background-color: rgba(237, 57, 0, 0.15);
    font-weight: 400;
    text-align: left;
    padding: 0.75em 1em;
    position: relative;
}

.title-block--with-wrapper {
    padding-left: calc(0.5em + 35px);
    right: 35px;
}

@media screen and (min-width: 600px) and (max-width: 900px) {
    .title-block {
        display: inline-block;
        width: 66.66%;
    }
    
    .title-block--with-wrapper {
        padding-left: calc(1em + 50px);
        right: 50px;
    }
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
    .title-block {
        display: inline-block;
        padding: 1em 2em;
        width: 66.66%;
    }
    
    .title-block--with-wrapper {
        padding-left: calc(2em + 8.44%);
        right: 8.44%;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1800px) {
    .title-block {
        display: inline-block;
        padding: 1em 2em;
        width: 80%;
    }
    
    .title-block--with-wrapper {
        padding-left: calc(2em + 10%);
        right: 10%;
    }
}

@media screen and (min-width: 1800px) {
    .title-block {
        display: inline-block;
        padding: 1em 2em;
        width: 80%;
    }
    
    .title-block--with-wrapper {
        padding-left: calc(2em + 18.57%);
        right: 18.57%;
    }
}

.table-date {
    align-items: stretch;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.table-date > :nth-child(2n + 1) {
    color: rgb(39, 66, 128);
    flex-grow: 0;
    font-family: 'Philosopher', sans-serif;
    font-weight: 700;
    width: 100px;
}

.table-date > :nth-child(2n) {
    margin-left: 0.5em;
    width: calc(100% - 0.5em - 100px);
}

@media screen and (min-width: 600px) {
    .table-date :nth-child(2n) {
        margin-left: 1.5em;
        width: calc(100% - 1.5em - 100px);
    }
}

@media screen and (min-width: 900px) {
    .table-date--full-date > :nth-child(2n + 1) {
        width: 175px;
    }
    
    .table-date--full-date > :nth-child(2n) {
        width: calc(100% - 1.5em - 175px);
    }
}

@media screen and (min-width: 1200px) {
    .table-date > :nth-child(2n + 1) {
        width: 150px;
    }
    
    .table-date > :nth-child(2n) {
        width: calc(100% - 1.5em - 150px);
    }
    
    .table-date--full-date > :nth-child(2n + 1) {
        width: 255px;
    }
    
    .table-date--full-date > :nth-child(2n) {
        width: calc(100% - 1.5em - 255px);
    }
}

@supports (display: grid) {
    .table-date {
        display: grid;
        grid-template-columns: 100px 1fr;
        margin: 1em 0;
        justify-content: flex-start;
    }

    .table-date > :nth-child(2n + 1) {
        color: rgb(39, 66, 128);
        font-family: 'Philosopher', sans-serif;
        font-weight: 700;
    }

    .table-date > :nth-child(2n) {
        margin-left: 0.5em;
    }

    .table-date > :nth-child(1n) {
        width: auto;
    }

    @media screen and (min-width: 600px) {
        .table-date > :nth-child(2n) {
            margin-left: 1.5em;
        }
    }

    @media screen and (min-width: 900px) {
        .table-date--full-date {
            grid-template-columns: 175px 1fr;
        }
    }

    @media screen and (min-width: 1200px) {
        .table-date {
            grid-template-columns: 150px 1fr;
        }
    
        .table-date--full-date {
            grid-template-columns: 225px 1fr;
        }
    }
}

.grid-photos {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.grid-photos__item {
    flex-basis: 200px;
    flex-grow: 1;
    flex-shrink: 0;
    margin: 0.25em;
    position: relative;
}

.grid-photos__item--double {
    flex-basis: 400px;
}

.grid-photos__item--triple {
    flex-basis: 400px;
}

.grid-photos__image {
    width: 100%;
}

.grid-photos__caption {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
    min-height: 2.6em;
    padding: 0.75em 1.5em;
    position: absolute;
    right: 0; bottom: 0; left: 0;
    margin-bottom: 7px;
} 


@supports (display: grid) {
    .grid-photos {
        align-items: center;
        display: grid;
        grid-gap: 0.5em;
    }

    @media screen and (min-width: 600px) {
        .grid-photos {
            grid-template-columns: repeat(3, 1fr);
        }
    
        .grid-photos__item {
            grid-column: 1 span;
        }
    
        .grid-photos__item--double {
            grid-column: 2 span;
        }
    
        .grid-photos__item--triple {
            grid-column: 3 span;
        }
    } 

    @media screen and (min-width: 900px) {
        .grid-photos {
            grid-template-columns: repeat(6, 1fr);
        }
    
        .grid-photos__item {
            grid-column: 1 span;
        }
    
        .grid-photos__item--double {
            grid-column: 2 span;
        }
    
        .grid-photos__item--triple {
            grid-column: 2 span;
        }
    } 
}
